@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*------------------------------------*/

.header {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 40pt;
}

.topbar {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 1.7em;
  background-color: #4b5161;
}

.logo {
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  display: inline-block;
  color: #faf7f2;
}

.members-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: #fcf5eb;
}

.member-heading {
  border-radius: 0.25em;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  background-color: #55c2bb;
  color: white;
}

.member {
  background-color: #ebcae8;
  padding: 10px;
  padding-left: 2em;
  margin: 10px;
  border-radius: 0.5em;
  text-align: center;
}

.active {
  background-color: #a2e0c1;
}

.member-name {
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.member-condition {
  padding-left: 0.5em;
  font-size: medium;
  text-align: left;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 100%;
  background-color: #fcf5eb;
}

.button-group {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0em 1em;
}

.profile {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 0em 1em;
}

.profile-name {
  font-weight: bold;
}

.chat-container {
  flex: 1;
}

.row {
  height: 100%;
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  flex: 1;
  background-color: #faf0e3;
}

.chat-inbox {
  display: flex;
}
.input {
  flex: 1;
}

.message {
  background-color: #fed58c;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 10px;
  width: fit-content;
}

.message-name {
  font-size: small;
  font-weight: bold;
}
.message-text {
  font-size: medium;
  padding-left: 0.2em;
}
