@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*------------------------------------*/

.header {
  text-align: center;
  font-family: "Pacifico", cursive;
}

.topbar {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 1.7em;
  background-color: #4b5161;
}

.logo {
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  display: inline-block;
  color: #faf7f2;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.menu-container > .button {
  flex: 1;
}

.menu-container > .profile {
  flex: 2;
  align-items: center;
}

.chat-container {
  flex: 1;
}

.row {
  height: 100%;
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  flex: 1;
}

.chat-inbox {
  display: flex;
}
.input {
  flex: 1;
}
